{% extends 'base.html' %}

{% block title %} Delete Contact {% endblock %}

{% block content %}

<br><br><br>
{% if user.is_superuser %}            <!-- Only superuser/admin can delete a contact -->
    <h3>Delete Contact</h3><br>
    <form class=".input-field" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <br><h5><strong>Are you sure that you want to delete this contact: {{ contact.name }}</strong></h5> <br><br><br>
        <a href="{% url 'home' %}" class="btn indigo">Cancel</a><span> </span> <span> </span><button class="btn red">Delete</button>
    </form>

{% else %}
    <h4 class="center">You are not authorized to Delete a contact on this website.</h4>
{% endif %}

{% endblock %}
